@model MovieDatabase.Models.Actor

<h2>Are you sure you want to Cancel "@Model.Name"?</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Cancel" />
}

<p>@Html.ActionLink("Back to actor list", "Index")</p>