@model MovieDatabase.Models.Actor

<h2>Are you sure you want to delete this actor?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayNameFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Back to actor list", "Index")</p>