@using MovieDatabase.Models;

<form asp-controller="Actors" asp-action="Index">
    <p>
        <input type="text" name="SearchString" placeholder="name..." />
        <input type="submit" value="Search" />
    </p>
</form>

<h1>Actors</h1>
@if (@Model.Count == 0)
{
    <h3>No actors have been added yet!</h3>
}
<ul>
    @foreach (Actor actor in Model)
    {
        <li>@Html.ActionLink($"{actor.Name}", "Details", new { id = actor.ActorId })</li>
    }
</ul>

<p>@Html.ActionLink("Add new actor", "Create")</p>