<div id="navbar">
    <a class="headerIconLink" href="/films">
        <img id="filmIcon" src="~/assets/images/filmIcon.png" alt="full logo">
    </a>
    <a href="/">
        <img id="textLogo" src="~/assets/images/textLogo.png" alt="full logo">
    </a>
    <a class="headerIconLink" href="/actors">
        <img id="actorIcon" src="~/assets/images/actorIcon.png" alt="full logo">
    </a>
</div>