<div id="navbar">
    <a href="/">
        <img id="cowLogo" src="~/assets/images/cowLogo.png" alt="cow logo">
    </a>
    <a href="/">
        <img id="textLogo" src="~/assets/images/textLogo.png" alt="text logo">
    </a>
    <div id="headerIcons">
        <a class="headerIconLink" href="/films">
            <img id="filmIcon" src="~/assets/images/filmIcon.png" alt="film icon">
        </a>
        <a class="headerIconLink" href="/actors">
            <img id="actorIcon" src="~/assets/images/actorIcon.png" alt="film icon">
        </a>
    </div>
</div>