<div id="navbar">
    <div id="navLinks">
        <a href="/films">
            <p>Films</p>
        </a>
        <a href="/actors">
            <p>Actors</p>
        </a>
        <a href="/genres">
            <p>Genres</p>
        </a>
    </div>
    <a class="helperLinkLeft" href="/">
        <img id="cowLogo" src="~/assets/images/cowLogo.png" alt="cow logo">
    </a>
    <a href="/">
        <img id="textLogo" src="~/assets/images/textLogo.png" alt="text logo">
    </a>
    @* <div id="headerIcons">
    <a id="filmsHeaderLink" class="headerIconLink helperLink" href="/films">
    <span class="tooltiptext">Films</span>
    <img id="filmIcon" src="~/assets/images/filmIcon.png" alt="film icon">
    </a>
    <a id="actorsHeaderLink" class="headerIconLink helperLink" href="/actors">
    <span class="tooltiptext">Actors</span>
    <img id="actorIcon" src="~/assets/images/actorIcon.png" alt="film icon">
    </a>
    </div> *@
</div>