body {
    background-color: black;
    color: white;
}

#actorIcon {
    filter: invert(100%);
    width: 8vw;
    height: 7vw;
    margin-top: auto;
    margin-bottom: auto;
}

#actorIcon:hover {
    transform: scale(1.3);
    transition: 1s;
}

#filmIcon:hover {
    transform: scale(1.3);
    transition: 1s;
}

#filmIcon {
    margin-top: auto;
    margin-bottom: auto;
    width: 8vw;
    height: 7vw;
}

#headerIcons {
    display: flex;
    flex-direction: column;
}

#textLogo {
    height: 18vw;
    filter: brightness(100);

}

#cowLogo {
    height: 17vw;
    width: 17vw;
    filter: brightness(100);
}

#navbar {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.headerIconLink {
    margin-top: auto;
    margin-bottom: auto;
}

#curtains {
    display: block;
    width: 80vw;
    height: 38vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: -37.5vw;
    z-index: 1;
}

#homeGif {
    display: block;
    width: 68vw;
    margin-left: auto;
    margin-right: auto;
}